* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f9;
    padding: 20px;
}

/* Cabeçalho e Navegação 
header {
    background: #2c3e50;
    color: #fff;
    padding: 2rem;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
}

*/

header h1 {
    margin-bottom: 15px;
}

header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

header ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    margin: 20px;
    gap: 10px;
}

header ul li a:hover {
    color: #3498db;
}

/* Seções Principais */
main {
    max-width: 800px;
    margin: 0 auto;
}

section {
    background: #fff;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

h2 {
    color: #2c3e50;
    border-bottom: 2px solid #3498db;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.container-principal {
    display: flex; 
    justify-content: space-between; 
    gap: 40px; 
    padding: 20px;
    width: 100%;            
    max-width: 1400px;      
    margin: 0 auto;
}

#sobre, #contato {
    flex: 1; 
    padding: 50px;
    background-color: #fafafa;
    border-radius: 8px;
}


#projetos ul {
    list-style: none;
}

#projetos li {
    background: #ecf0f1;
    margin-bottom: 10px;
    padding: 15px;
    border-left: 5px solid #3498db;
    border-radius: 4px;
}

/* Formulário de Contato */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input, textarea, button {
    margin-bottom: 15px;
    padding: 10px;
}

textarea {
    height: 100px;
    resize: vertical;
}

button {
    margin-top: 20px;
    padding: 12px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
}

button:hover {
    background: #2980b9;
}

/* Responsividade */

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }
    header ul, li {
        flex-direction: row;
        gap: 5px;
        font-zize: 0.9rem;
        margin: 0;
        padding: 0;
    }
    .container-principal {
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }
    #sobre, #contato {
        width: 100%;
        padding: 20px;
    }
}

@media (max-width: 420px) {
    h2 {
        font-size: 1.5rem;
    }

    #sobre, #contato {
        padding: 15px;
    }
}